<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <!--  标记名 -->
        <servlet-name>a</servlet-name>
        <!--真实的servlet路径-->
        <servlet-class>day1_Servlet.b_Servelet.myservelet</servlet-class>
    </servlet>

    <!--servlet映射路径的配置  访问时 http://localhost:8080/my -->
    <servlet-mapping>
        <!--  标记名，用于找到servlet标签的标记名 -->
        <servlet-name>a</servlet-name>
        <!--映射路径的 “ / ” 不要忘记-->
        <url-pattern>/my</url-pattern>
    </servlet-mapping>

<!--    <welcome-file-list>-->
<!--        <welcome-file>a.html</welcome-file>-->
<!--    </welcome-file-list>-->

</web-app>